= semantic_form_for @job, url: job_path do |f|
  = f.input :title, label: "Job Title"
  = f.input :company, label: "company"
  = f.input :company_rank, label: "AngelList Rank"
  = f.input :salary, label: "Salary Range", placeholder: "80k-100k + Bonus 1% equity"
  = f.input :location, label: "Location"
  = f.input :description, label: "Description"
  = f.input :hero_img, label: "Hero Image"
  = f.input :logo_img, label: "Company Logo"
  = f.input :tags, label: "tags", placeholder: "buzzwords"
  = f.input :skills, label: "skills", placeholder: "Jquery, Scrum, Project Management"
  = f.submit
