= semantic_form_for @job, url: job_path do |f|
  = f.input :position, label: "Position"
  = f.input :company, label: "Company"
  = f.input :hero_img, label: "Hero Image"
  = f.input :description, label: "Description" 
  = f.input :location , label: "Location"
  = f.input :salary, label: "Salary"
  = f.input :logo_img, label: "Company Logo"
  = f.input :tags, label: "tags"
  = f.input :skill_ids, label: "skills"
  = f.submit
