!!!html5
%html{lang: "en"}
  %head
    %title Recruiter
    = stylesheet_link_tag    "application", :media => "all" 
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = link_to "Recruiter", root_url
    - if current_user
      =link_to "Sign Out", destroy_user_session_path, method: :DELETE
    - else 
      = form_tag users_sessions_path do
        = submit_tag "Sign in With LinkedIn"
    - flash.each do |name, msg|
      .site_notice{class: name != :notice && name}
        %h1= name.capitalize
        - if msg.is_a? String
          %p= msg
        - elsif msg.is_a? Array
          %ul
            - msg.each do |m|
              %li= m
    = yield
